* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* WORLD CONTAINER START */

.World-Container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}



/* WORLD CONTAINER END */





/* SKY CONTAINER START */

.Sky-Container {
    background-color: #deffff;

    position: relative;
    top: 0px;

    height: 70%;
    width: 100%;
}


/* ☀️ Sun Elements  */

.Sun {
    position: absolute;
    top: -100px;
    left: 25%;

    width: 100px;
}

.Rotate-Sun {
    animation: rotateSun 5s infinite linear forwards, sunSet 60s infinite linear reverse;
}

.Sun-Set {
    animation: sunSet 20s infinite linear;
}


/* ☀️ Sun Elements End  */

.Cloud-1 {
    position: absolute;
    top: 100px;
    left: -300px;

    width: 300px;

    z-index: 1;
}

.Cloud-2 {
    position: absolute;
    top: 150px;
    left: -300px;

    width: 200px;
}

.Cloud-3 {
    position: absolute;
    bottom: 100px;
    left: -300px;

    width: 50px;
}

.Cloud-4 {
    position: absolute;
    top: 100px;
    left: -300px;

    width: 300px;
}

.Cloud-Left-Right-Cloud-1 {
    animation: cloud-left-right 60s  infinite linear both, float 2s linear infinite;
}

.Cloud-Left-Right-Cloud-2 {
    animation: cloud-left-right 80s 2s infinite linear both, float 2s linear infinite;
}

.Cloud-Left-Right-Cloud-3 {
    animation: cloud-left-right 240s 2s infinite linear both, float 2s linear infinite;
}

.Cloud-Left-Right-Cloud-4 {
    animation: cloud-left-right 120s 2s infinite linear, float 2s linear infinite;
}

.Cloud-Left-Right-Cloud-5 {
    animation: cloud-left-right 120s 2s infinite linear, float 2s linear infinite;
}




/* Sun Keyframe Animation Start */

@keyframes rotateSun {
    100% {
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    }
}

@keyframes sunSet {
    from{
        bottom: -100px;
        transform: translateX(100%);
    }
    to{
        top: 100%;
    }
}


/* ☀️ Sun Keyframe Animation End ☀️ */


/* ☁️ Cloud Keyframe Animation Start ☁️ */

@keyframes cloud-left-right {
    from{ left: -300px;}
    to{ left: 100%;}
}

/* ☁️ Cloud Keyframe Animation End ☁️ */



/*  SKY CONTAINER END */





/* SEA CONTAINER START */

.Sea-Container {
    background-color: #203538;

    position: relative;
    top: 0px;

    height: 30%;
    width: 100%;
}


/* Island Elements Start */

.Island-1 {
    position: absolute;
    top: -100px;
    left: 300px;

    width: 200px;

    z-index: 1;
}



.Island-2 {
    position: absolute;
    top: -45px;
    right: 500px;

    width: 50px;
}

/* Island Elements End */


/* Boat Elements Start */

.Boat-1 {
    position: absolute;
    top: -38px;
    right: -100px;

    width: 50px;
}

.Boat-2 {
    position: absolute;
    top: 50px;
    right: -100px;

    width: 100px;
}


.Boat-1-Right-Left {
    animation: boat-1-right-left 60s 2s linear infinite, float 2s linear infinite;
}

.Boat-2-Right-Left {
    animation: boat-1-right-left 50s 2s linear infinite, float 2s linear infinite;
}

.Float {
    animation: float 2s linear infinite;
}
/* Boat Elements End */





/* 🛶 Keyframe Animations Start 🛶 */

@keyframes boat-1-right-left {
    from{ right: -100px;}
    to{ right: 100%;}
}

@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(2px);
    }
}
/* 🛶 Keyframe Animations End 🛶 */


/* SEA CONTAINER END */







/* MEDIA QUERIES START */



/* MEDIA QUERIES END */